.navbar {
    font-size: 16px;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.8rem;
  padding: 0.2rem;
  padding-bottom: 10px;
  z-index: 6;
  background: transparent;
}


.nav.active {
  background: linear-gradient(90deg, #1a1a1f 0%, #1a1a1f 100%);
}

a {
  color: #007fff;
  text-decoration: none;
}

.navLink {
    color: white;
    text-decoration: none;
    padding: .8rem;
    vertical-align: middle;
    margin-bottom: 1rem;
}

a.navLink:hover {
  color: #3989D0;
}

ul {
    margin: 0;
    padding: 0;
    padding-top: .5rem;
    display: inline-block;
}

li {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.logo {
  padding-left: 1em;
  padding-right: 1em;
  height: 30px;
  vertical-align: middle;
  margin-bottom: 0.6rem;
}



ul.horizontal-list {
  min-width: 696px;
  list-style: none;
}
ul.horizontal-list li {
  display: inline;
  padding-bottom: 0.8rem;
}
