<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Azure GreenAPI</title>

<!-- link in Bootstrap here -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<style>
  * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI";
}

.alert {
  padding: 20px;
  background-color: #077fff;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.content {
  margin-top: 150px;
  text-align: center;
}

.heading {
  margin-bottom: 60px;
}

.list {
  text-align: center;
}

/* .findButton {
  margin-top: 20px;
} */

.findButton {
    text-align: center;
    margin-top: 5px;
}


/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1f;
    padding: .75rem;
    padding-bottom: 10px;
    z-index: 6;
}

a {
  color: #007fff;
  text-decoration: none;
}

.navLink {
    color: white;
    text-decoration: none;
    padding: .8rem;
    vertical-align: middle;
    margin-bottom: 1rem;
}

a:hover {
  color: gray;
}

ul {
    margin: 0;
    padding: 0;
    padding-top: .5rem;
    display: inline-block;
}

li {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.logo {
  padding-left: 1em;
  padding-right: 1em;
  height: 40px;
  vertical-align: middle;
  margin-bottom: 18px;
}

.logo:hover {
  transform: scale(1.07);
}

ul.horizontal-list {
	min-width: 696px;
	list-style: none;
}
ul.horizontal-list li {
	display: inline;
  padding-bottom: 0.8rem;
}

/* End of Navbar */

.title-background {
    padding: 0.5px;
}

</style>
<body>
  <div>
    <nav>
      <ul class="horizontal-list">
        <li class="navLink"><a class="navLink" href=https://azure.microsoft.com/en-us><img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Microsoft_Azure_Logo.svg"></img></a></li>
        <li><a class="navLink" href=/. >Home</a></li>
        <li><a class="navLink" href=/protected >Calculate Resource Emissions</a></li>
        <li><a class="navLink" href=/pred_shift_find >Time/Region Shifting</a></li>
        <li><a class="navLink" href=/ci_data >Get Carbon Intensity Data</a></li>
        <li><a class="navLink" href=/all_index>Explore Global Carbon Intensity</a></li>
        <li><a class="navLink" href=/docs_page>Documentation</a></li>
      </ul>
    </nav>
  </div>

  <header class="jumbotron jumbotron-fluid text-white bg-dark title-background">
    <div class="content">
      <h1 class="heading">Find Data for WattTime and Azure Region Associations</h1>
    </div>
  </header>

  <main>
    <div class="container mb-5">
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <center><strong>Attention!</strong> If this is your first time using the API, please see the documentation.</center>
      </div>
      <div class="list">
        <ul>
          
        </ul>
      </div>
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-6 col-xl-4 d-flex">
          <div class="card mb-3">
            <div class="card-body">
              <!-- <div class="row"> -->
              <div class="row h-100">
                <div class="col-sm">
                  <h2 class="card-title">Known Azure Region</h2>
                  <form method="POST" action="/getloc">
                    <label for="data">Azure Region Selection:</label>
                    <select class="form-control" name="data" id="data">
                      <option value="nada"> </option>
                      <option value="West US">West US</option>
                      <option value="West Central US">West Central US</option>
                      <option value="East US">East US</option>
                      <option value="North Central US">North Central US</option>
                      <option value="East US 2">East US 2</option>
                      <option value="East US 2 EUAP">East US 2 EUAP</option>
                      <option value="South Central US">South Central US</option>
                      <option value="Central US EUAP">Central US EUAP</option>
                      <option value="Central US">Central US</option>
                      <option value="Germany West Central">Germany West Central</option>
                      <option value="Germany North">Germany North</option>
                      <option value="Canada Central">Canada Central</option>
                      <option value="West Europe">West Europe</option>
                      <option value="Australia Southeast">Australia Southeast</option>
                      <option value="Australia Central">Australia Central</option>
                      <option value="Australia East">Australia East</option>
                      <option value="Australia Central 2">Australia Central 2</option>
                      <option value="UK South">UK South</option>
                      <option value="North Europe">North Europe</option>
                      <option value="France Central">France Central</option>
                      <option value="France South">France South</option>
                      <option value="West US 3">West US 3</option>
                      <option value="Norway East">Norway East</option>
                      <option value="Norway West">Norway West</option>
                      <option value="UK West">UK West</option>
                      <option value="Switzerland North">Switzerland North</option>
                      <option value="Canada East">Canada East</option>
                      <option value="Switzerland West">Switzerland West</option>
                      <option value="Korea Central">Korea Central</option>
                      <option value="Japan East">Japan East</option>
                      <option value="Korea South">Korea South</option>
                      <option value="Japan West">Japan West</option>
                      <option value="UAE North">UAE North</option>
                      <option value="UAE Central">UAE Central</option>
                      <option value="JIO India West">JIO India West</option>
                      <option value="East Asia">East Asia</option>
                      <option value="West India">West India</option>
                      <option value="Central India">Central India</option>
                      <option value="South India">South India</option>
                      <option value="Southeast Asia">Southeast Asia</option>
                      <option value="South Africa West">South Africa West</option>
                      <option value="South Africa North">South Africa North</option>
                      <option value="Brazil South">Brazil South</option>
                      <option value="Brazil Southeast">Brazil Southeast</option>
                    </select>
                    <!-- <input class="findButton" type = "submit" value="Find"> -->
                    <div class="col text-center">
                      <input class="findButton btn-primary btn" type = "submit" value="Find">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-6 col-xl-4 d-flex">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm">
                  <h2 class="card-title">Known Location</h2>
                  <form method="POST" action="/get_region">
                    <div class="form-group row">
                      <label for="data" class="col-sm-10 col-form-label">Latitude:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="User_latitude">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="data" class="col-sm-10 col-form-label">Longitude:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="User_longitude">
                      </div>
                    </div>
                    <!-- <input type = "submit" value="Find"> -->
                    <div class="col text-center">
                      <input class="findButton btn-primary btn" type = "submit" value="Find">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-6 col-xl-4 d-flex">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm">
                  <h2 class="card-title">Known WattTime Balancing Authority</h2>
                  <form method="POST" action="/from_ba">
                    <label for="data">Balancing Authority Selection:</label>
                
                        <select class="form-control" name="data" id="data">
                         <option value="nada">  </option>
                         <option value="PJM Roanoke">PJM Roanoke</option>
                         <option value="PJM DC">PJM DC</option>
                         <option value="ERCOT San Antonio">ERCOT San Antonio</option>
                         <option value="PUD No 2 of Grant County">PUD No 2 of Grant County</option>
                         <option value="National Electricity Market (Australia)">National Electricity Market (Australia)</option>
                         <option value="Ireland">Ireland</option>
                         <option value="United Kingdom">United Kingdom</option>
                         <option value="Netherlands">Netherlands</option>
                         <option value="MISO Madison City">MISO Madison City</option>
                         <option value="PJM Chicago">PJM Chicago</option>
                         <option value="California ISO Northern">California ISO Northern</option>
                         <option value="Independent Electricity System Operator (Ontario)">Independent Electricity System Operator (Ontario)</option>
                         <option value="France">France</option>
                         <option value="Germany and Luxembourg">Germany and Luxembourg</option>
                         <option value="PacifiCorp East">PacifiCorp East</option>
                         <option value="Arizona Public Service Co">Arizona Public Service Co</option>
              
                         <!-- <input class="findButton" type = "submit" value="Find"> -->
                        </select>
                        <div class="col text-center">
                          <input class="findButton btn-primary btn" type = "submit" value="Find">
                        </div>
                      </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add blank space -->
    <div class="pt-5">
      <br>
    </div>
    <div class="pt-5">
      <br>
    </div>
  </main>
</div>
</body>
</html>