<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Azure GreenAI Carbon-Intensity API</title>
<style>
* {
  box-sizing: border-box;
  font-family: "Segoe UI";
}

body {
  margin: 0;
  font-family: "Segoe UI";
}

.content {
  margin-top: 150px;
  margin-left: 350px;
  margin-right: 350px;
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1f;
    padding: .75rem;
    padding-bottom: 10px;
    z-index: 6;
}

a {
  color: #007fff;
  text-decoration: none;
}

.navLink {
    color: white;
    text-decoration: none;
    padding: .8rem;
    vertical-align: middle;
    margin-bottom: 1rem;
}

a:hover {
  color: gray;
}

ul {
    margin: 0;
    padding: 0;
    padding-top: .5rem;
    display: inline-block;
}

li {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.logo {
  padding-left: 1em;
  padding-right: 1em;
  height: 40px;
  vertical-align: middle;
  margin-bottom: 18px;
}

.logo:hover {
  transform: scale(1.07);
}

ul.horizontal-list {
  min-width: 696px;
  list-style: none;
}
ul.horizontal-list li {
  display: inline;
  padding-bottom: 0.8rem;
}

/* End of Navbar */

</style>
<body>
  <div>
    <nav>
      <ul class="horizontal-list">
        <li class="navLink"><a class="navLink" href=https://azure.microsoft.com/en-us><img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Microsoft_Azure_Logo.svg"></img></a></li>
        <li><a class="navLink" href=/. >Home</a></li>
        <li><a class="navLink" href=/protected >Calculate Resource Emissions</a></li>
        <li><a class="navLink" href=/pred_shift_find >Time/Region Shifting</a></li>
        <li><a class="navLink" href=/ci_data >Get Carbon Intensity Data</a></li>
        <li><a class="navLink" href=/all_index>Explore Global Carbon Intensity</a></li>
        <li><a class="navLink" href=/docs_page>Documentation</a></li>
      </ul>
    </nav>
  </div>

  <div class="content">
    <div class="body">
        <p><h1>Knowledge Base</h1></p>
            <h3>Carbon free energy for Google Cloud regions</h3>
            <p>Google. (2021, March 15). <em>Carbon free energy for Google cloud regions.</em> Retrieved March 29, 2021, from <a href="https://cloud.google.com/sustainability/region-carbon">https://cloud.google.com/sustainability/region-carbon</a></p>
            <h3>How clean is cloud computing? New data reveals how green Google's data centers really are</h3>
            <p>Leprince-Ringuet, D. (2021, March 17). <em>How clean is cloud Computing? New data reveals how Green Google's data centers really are.</em> Retrieved March 29, 2021, from <a href="https://www.zdnet.com/article/how-clean-is-cloud-computing-new-data-reveals-how-green-googles-data-centers-really-are/">https://www.zdnet.com/article/how-clean-is-cloud-computing-new-data-reveals-how-green-googles-data-centers-really-are/</a></p>
            <h3>When to use Marginal Emissions (and when not to)</h3>
            <p>Listgarten, S. (2019, September 29). <em>When to use Marginal Emissions (and when not to).</em> Retrieved March 29, 2021, from <a href="https://www.paloaltoonline.com/blogs/p/2019/09/29/marginal-emissions-what-they-are-and-when-to-use-them">https://www.paloaltoonline.com/blogs/p/2019/09/29/marginal-emissions-what-they-are-and-when-to-use-them</a>.</p>
            <h3>Average Emissions data</h3>
            <p>WattTime. (n.d.). <em>Average Emissions data.</em> Retrieved March 29, 2021, from <a href="https://www.citationmachine.net/bibliographies/df16e1f1-6da0-42c4-b408-2d91c4668b07">https://www.citationmachine.net/bibliographies/df16e1f1-6da0-42c4-b408-2d91c4668b07</a></p>
            <h3>API Documentation</h3>
            <p>WattTime. (n.d.). <em>Introduction.</em> Retrieved March 29, 2021, from <a href="https://www.watttime.org/api-documentation/#introduction">https://www.watttime.org/api-documentation/#introduction</a></p>
            <h3>Marginal emissions: what they are, and when to use them</h3>
            <p>Corradi, O. (2019, June 13). <em>Marginal emissions: What they are, and when to use them.</em> Retrieved March 29, 2021, from <a href="https://www.tmrow.com/blog/marginal-emissions-what-they-are-and-when-to-use-them/">https://www.tmrow.com/blog/marginal-emissions-what-they-are-and-when-to-use-them/</a></p>
            <h3>How green is your cloud?</h3>
            <p>Mytton, I., &amp; Mytton, D. (2015, December 16). <em>How green is your cloud?</em> Retrieved March 29, 2021, from <a href="https://www.infoworld.com/article/3015632/how-green-is-your-cloud.html">https://www.infoworld.com/article/3015632/how-green-is-your-cloud.html</a></p>
            <h3>Microsoft Joins RE100 Initiative In Support of Renewable Energy</h3>
            <p>Bernard, R. (2016, December 14). <em>Microsoft joins RE100 initiative in support of renewable energy.</em> Retrieved March 29, 2021, from <a href="https://blogs.microsoft.com/green/2015/11/30/microsoft-joins-re100-initiative-in-support-of-renewable-energy/">https://blogs.microsoft.com/green/2015/11/30/microsoft-joins-re100-initiative-in-support-of-renewable-energy/</a></p>
            <h3>The Carbon Benefits of Cloud Computing</h3>
            <p>Microsoft. (n.d.). <em>The carbon benefits of cloud computing</em> Retrieved March 29, 2021, from <a href="https://www.microsoft.com/en-us/download/confirmation.aspx?id=56950">https://www.microsoft.com/en-us/download/confirmation.aspx?id=56950</a></p>
            <h3>Reducing the Carbon Emissions of ML Computing</h3>
            <p>EEMS Group (Director). (2020, July 29). <em>Reducing the carbon emissions of ML computing - challenges and opportunities</em> [Video file]. Retrieved March 29, 2021, from <a href="https://www.youtube.com/watch?v=Vrc1H4xSH7o">https://www.youtube.com/watch?v=Vrc1H4xSH7o</a></p>
            <h3>Green AI</h3>
            <p>Schwartz, R., Dodge, J., Smith, N., &amp; Etzioni, O. (2019, July). <em>Green AI.</em> Retrieved March 28, 2021, from <a href="https://arxiv.org/pdf/1907.10597.pdf">https://arxiv.org/pdf/1907.10597.pdf</a></p>    
            <h3>Carbontracker: Tracking and Predicting the Carbon Footprint of Training Deep Learning Models</h3>
            <p>Anthony, L. W., Kanding, B., &amp; Selvan, R. (2020, July 6). <em>Carbontracker: Tracking and Predicting the Carbon Footprint of Training Deep Learning Models.</em> Retrieved March 28, 2021, from <a href="https://arxiv.org/pdf/2007.03051.pdf">https://arxiv.org/pdf/2007.03051.pdf</a></p>
            <h3>Energy and Policy Considerations for Deep Learning in NLP</h3>
            <p>Strubell, Emma, Ganesh, Ananya, &amp; McCallum, Andrew. (2019). <em>Energy and Policy Considerations for Deep Learning in NLP.</em> Retrieved March 28, 2021, from <a href="https://arxiv.org/abs/1906.02243">https://arxiv.org/abs/1906.02243</a></p>
            <h3>The Cost of Training NLP Models: A Concise Overview</h3>
            <p>Sharir, Or, Peleg, Barak, &amp; Shoham, Yoav. (2020). <em>The Cost of Training NLP Models: A Concise Overview.</em> Retrieved March 28, 2021, from <a href="https://arxiv.org/abs/2004.08900">https://arxiv.org/abs/2004.08900</a></p>
            <h3>API development for everyone</h3>
            <p>Swagger. (n.d.). <em>API development for everyone.</em> Retrieved March 29, 2021, from <a href="https://swagger.io/">https://swagger.io/</a></p>
            <h3>Welcome to Flask</h3>
            <p>Flask. (n.d.). <em>Welcome to flask.</em> Retrieved March 29, 2021, from <a href="https://flask-doc.readthedocs.io/en/latest/">https://flask-doc.readthedocs.io/en/latest/</a></p>
            <h3>The Climate Pledge</h3>
            <p>Amazon. (n.d.). <em>The climate pledge.</em> Retrieved April 01, 2021, from <a href="https://sustainability.aboutamazon.com/about/the-climate-pledge">https://sustainability.aboutamazon.com/about/the-climate-pledge</a></p>
            <h3>Environmental sustainability: Microsoft CSR</h3>
            <p>Microsoft. (n.d.). <em>Environmental sustainability: Microsoft CSR.</em> Retrieved April 01, 2021, from <a href="https://www.microsoft.com/en-us/corporate-responsibility/sustainability?activetab=pivot_1%3Aprimaryr3">https://www.microsoft.com/en-us/corporate-responsibility/sustainability?activetab=pivot_1%3Aprimaryr3</a></p>
            <h3>Microsoft Will Be Carbon Negative by 2030</h3>
            <p>Smith, B. (n.d.). <em>Microsoft Will Be Carbon Negative by 2030</em> [Web log post]. Retrieved April 01, 2021, from <a href="https://aka.ms/MSFTcarbonfactsheet">https://aka.ms/MSFTcarbonfactsheet</a>
            </raw></p>

            <!-- Add blank space -->
            <div class="pt-5">
              <br>
            </div>
    
            <div class="pt-5">
                <br>
            </div>
    
            
            <!-- Add blank space -->
            <div class="pt-5">
              <br>
            </div>
    
            <div class="pt-5">
                <br>
            </div>
    
    </div>
</div>
    
      </div>

      
    </div>

    <br>
  </body>
</html>




