<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Azure GreenAI Carbon-Intensity API</title>

<!-- link in Bootstrap here -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<style>
  * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI";
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1f;
    padding: .75rem;
    padding-bottom: 10px;
    z-index: 6;
}

a {
  color: #007fff;
  text-decoration: none;
}

.navLink {
    color: white;
    text-decoration: none;
    padding: .8rem;
    vertical-align: middle;
    margin-bottom: 1rem;
}

a:hover {
  color: gray;
}

ul {
    margin: 0;
    padding: 0;
    padding-top: .5rem;
    display: inline-block;
}

li {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.logo {
  padding-left: 1em;
  padding-right: 1em;
  height: 40px;
  vertical-align: middle;
  margin-bottom: 18px;
}

.logo:hover {
  transform: scale(1.07);
}

ul.horizontal-list {
  min-width: 696px;
  list-style: none;
}
ul.horizontal-list li {
  display: inline;
  padding-bottom: 0.8rem;
}

/* End of Navbar */

.content {
  margin-top: 150px;
  text-align: center;
}

.heading {
  margin-bottom: 60px;
}

.findButton {
  margin-top: 20px;
}

.card_desc {
  margin-left: 10px;
  list-style: none;
}

.findButton {
    text-align: center;
    margin-top: 5px;
}

.steps {
  color: green;
}

.title-background {
    background-color: #007fff;
    padding: 0.5px;
}



</style>
<body>

  <header  class="jumbotron jumbotron-fluid text-white bg-dark title-background">
    <div class="content">
      <h1 class="heading">Choose a Job Scope</h1>
    </div>
  </header>


  <main>
    <div>
      <nav>
        <ul class="horizontal-list">
          <li class="navLink"><a class="navLink" href=https://azure.microsoft.com/en-us><img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Microsoft_Azure_Logo.svg"></img></a></li>
          <li><a class="navLink" href=/. >Home</a></li>
          <li><a class="navLink" href=/protected >Calculate Resource Emissions</a></li>
          <li><a class="navLink" href=/pred_shift_find >Time/Region Shifting</a></li>
          <li><a class="navLink" href=/ci_data >Get Carbon Intensity Data</a></li>
          <li><a class="navLink" href=/all_index>Explore Global Carbon Intensity</a></li>
          <li><a class="navLink" href=/docs_page>Documentation</a></li>
        </ul>
      </nav>
    </div>


    <div class="container">
      
      <div class="d-flex">
        <div class="card mb-3 mt-4">
          <div class="card-body">
            <div class="horizontal-list top">
                <h2 class="card-title">Load Shifting Prediction Types:</h2>
                <p class="mt-5"><strong><span class="steps">Demand Shifting</span>:</strong> Carbon aware workload shifting which finds the greenest start time across all data centers permitted in the search.  This method provides the <u>best carbon reduction </u> results out of the three shifting types.</p>

                <p class="mt-5"><strong>Geographic Shifting:</strong> Find a new data center for compute instances for cross region shifting to reduce the resource's carbon footprint. This shifting type assumes an immediate start time for the compute activity.</p>

                <p class="mt-5"><strong>Time Shifting: </strong>Search for the greenest starting time in at a specified data center.  </p>
                <br>
                <p>
                  Search Parameters: 
                  <ul>
                  
                    <li>
                      Run Duration is the expected duration of the compute. Picking a window size will return the start-time with the lowest average emissions rate for the given window size. Without a window size selected, it will return the single time of minimum emissions instead.
                    </li>
                    <li>
                      GPU SKU is the desired SKU to be used for the compute.  This limits regions in geographic shifting to data centers that can offer the selection.
                    </li>
                    <li>
                      Protected Data implies that the workspace contains data subject to international migration and privacy laws.  Selecting this option limits any potenial workload shift to data centers that would be compliant and not violate laws. 
                    </li>
                  </ul>

                </p>
            </div>
          </div>
        </div>
      </div>


      
      <form method="POST" action="/shift_predictions"  enctype="multipart/form-data">
        <span class="steps"><strong>Step One:</strong></span>
        <label class="mt-4"><b> Pick a Prediction Type</b> (see above)</label>
        <br>
        
        <label for="data_az" class="mt-4">Load Shifting Type:</label>
        <select name="data_shifter" id="data_shifter">
          <option value="nada"> </option>
          <option value="Geographic and Time Shift">Demand Shifting</option>
          <option value="Geographic Shift Only">Geographic Shifting</option>
          <option value="Time Shift Only">Time Shifting</option>
        </select>
        
        <br><br>
        <hr size="8" width="100%" color="#d3d3d3" align="left"> 
        <br>

        <span class="steps"><strong>Step Two:</strong></span>
        <label><b> Pick an Azure region or WattTime balancing authority</b></label>
        <br>
        <label for="data_az" class="mt-4">Azure Region:</label>
        <select name="data_az" id="data_az">
          <option value="nada"> </option>
          <option value="West US">West US</option>
          <option value="West US 2">West US 2</option>
          <option value="West Central US">West Central US</option>
          <option value="East US">East US</option>
          <option value="North Central US">North Central US</option>
          <option value="East US 2">East US 2</option>
          <option value="East US 2 EUAP">East US 2 EUAP</option>
          <option value="South Central US">South Central US</option>
          <option value="Central US EUAP">Central US EUAP</option>
          <option value="Central US">Central US</option>
          <option value="Germany West Central">Germany West Central</option>
          <option value="Germany North">Germany North</option>
          <option value="Canada Central">Canada Central</option>
          <option value="West Europe">West Europe</option>
          <option value="Australia Southeast">Australia Southeast</option>
          <option value="Australia Central">Australia Central</option>
          <option value="Australia East">Australia East</option>
          <option value="Australia Central 2">Australia Central 2</option>
          <option value="UK South">UK South</option>
          <option value="North Europe">North Europe</option>
          <option value="France Central">France Central</option>
          <option value="France South">France South</option>
          <option value="West US 3">West US 3</option>
          <option value="Norway East">Norway East</option>
          <option value="Norway West">Norway West</option>
          <option value="UK West">UK West</option>
          <option value="Switzerland North">Switzerland North</option>
          <option value="Canada East">Canada East</option>
          <option value="Switzerland West">Switzerland West</option>
          <option value="Korea Central">Korea Central</option>
          <option value="Japan East">Japan East</option>
          <option value="Korea South">Korea South</option>
          <option value="Japan West">Japan West</option>
          <option value="UAE North">UAE North</option>
          <option value="UAE Central">UAE Central</option>
          <option value="JIO India West">JIO India West</option>
          <option value="East Asia">East Asia</option>
          <option value="West India">West India</option>
          <option value="Central India">Central India</option>
          <option value="South India">South India</option>
          <option value="Southeast Asia">Southeast Asia</option>
          <option value="South Africa West">South Africa West</option>
          <option value="South Africa North">South Africa North</option>
          <option value="Brazil South">Brazil South</option>
          <option value="Brazil Southeast">Brazil Southeast</option>
        </select>&emsp;&emsp;&emsp;
        <label for="data_ba" class="mt-4">Balancing Authority:</label>
        <select name="data_ba" id="data_ba">
            <option value="nada">  </option>
            <option value="PJM Roanoke">PJM Roanoke</option>
            <option value="PJM DC">PJM DC</option>
            <option value="ERCOT San Antonio">ERCOT San Antonio</option>
            <option value="PUD No 2 of Grant County">PUD No 2 of Grant County</option>
            <option value="National Electricity Market (Australia)">National Electricity Market (Australia)</option>
            <option value="Ireland">Ireland</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Netherlands">Netherlands</option>
            <option value="MISO Madison City">MISO Madison City</option>
            <option value="PJM Chicago">PJM Chicago</option>
            <option value="California ISO Northern">California ISO Northern</option>
            <option value="Independent Electricity System Operator (Ontario)">Independent Electricity System Operator (Ontario)</option>
            <option value="Hydro Quebec">Hydro Quebec</option>
            <option value="France">France</option>
            <option value="Germany and Luxembourg">Germany and Luxembourg</option>
            <option value="PacifiCorp East">PacifiCorp East</option>
            <option value="Arizona Public Service Co">Arizona Public Service Co</option>
        </select>


        <hr size="8" width="100%" color="#d3d3d3" align="left"> 
       

        <span class="steps"><strong>Step Three:</strong></span>
        <label class="mt-4"><b>Specify Job Details</b></label>
        <br>
        Run Duration: HH:MM
        <br>
        <label for="window_size_hours" class="mt-4">Hours:</label>
        
        <input type="number" min="0", max="24", step="1", name="window_size_hours">&emsp;&emsp;
        <label for="window_size_minutes" class="mt-4">Minutes:</label>
        <input type="number" min="0", max="60", step="5", name="window_size_minutes">&emsp;&emsp;
        
        <!--
        <label for="window_size" class="mt-4">Run Duration:</label>
          <select name="window_size" id="window_size">
          <option value="no_window"> </option>
          <option value="0hour30min">30 Minutes</option>
          <option value="1hour0min">1 Hour</option>
          <option value="3hour0min">3 Hours</option>
          <option value="6hour0min">6 Hours</option>
          <input type="number" min="0", max="24", step="1", name="window_size_hours">
          <input type="number" min="5", max="55", step="5", name="window_size_minutes">
        </select>&emsp;&emsp;&emsp;
        -->
        <br>
        <label for="gpu_type" class="mt-4">GPU SKU:</label>
        <select name="gpu_type" id="gpu_type">
          <option value="nada"> </option>
          <option value="K80">K80</option>
          <option value="T4">T4</option>
          <option value="P100">P100</option>
          <option value="V100">V100</option>
          <option value="P40">P40</option>
          <option value="M60">M60</option>
          <option value="MI25">MI25</option>
          <option value="A100">A100</option>

        </select>

        <br>
        <input class="mt-3" type="checkbox", name='sensitive'> Workspace Contains Protected Data

        <br><br><br><br>
        <div class="text-center">
          <input class="findButton btn-success btn" type = "submit" value="Calculate Load Shifting Potenial" class="mb-5 mt-3">
        </div>
      </form>
    </div>

    


      

    
  </main>
  <br><br><br>
</div>
</body>
</html>